{% 'layout.html' %}

{% block title %}
    <title> {{course_title}} </title>
{% endblock title %}

{% block body %}
  <div class="container"
    <div class="mt-1"
      <h2> Roster </h2>
      <ul>
      {% for students in course %}
        <li>
        {{students.id}} is  {{students.name}} has a grade of {{students.grade}}
        </li>
      </ul>
      </div>
    <div class="mt-1">
      <form action="{{url_for('/register_student/<int:course_id')}}" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="grade" placeholder="Grade">
        <input type="text" name="id" placeholder="ID">
        <<button type="Submit" name="Add Course"></button>
    </div>
  </div>

{% endblock body %}
